@use '@themes' as *;

.search {
  padding: 1rem 2rem;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include styled-box;

  & input {
    background: transparent;
    border: none;
    border: none;
    outline: none;
    color: white;
    font-size: 2rem;
    width: 100%;
  }
}

.clean {
  cursor: pointer;
}
